::-webkit-scrollbar {
    border-radius: 1px;
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-corner {
    background: #9c9c9c;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,#bcbcc8,#b0b0bf 33%),#bcbcc8;
    border-radius: 1px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(180deg,rgba(173, 173, 173, 0.05),hsla(0,0%,100%,0)),linear-gradient(0deg,#7b7b80,#1c1c22),#c4c4c4;
    border-radius: 1px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: sans-serif;
}



/* declear variables */
:root {
    --lightest: #fff;
    --light: #dddde3;
    --grey1: #c7c7d1;
    --grey2: #bcbcc8;
    --grey3: #b0b0bf;
    --dark1: #363C4E;
    --dark2: #1f2430;
    --dark3: #131722;
    --transparent: #09090b50;
    --shadow: var(--dark3);
    --border-color: var(--dark1);
    --rising-color: #3deca7;
    --green: #3deca7;
    --red: #d34a4a;
    --blue1: #839bec;
    --blue2: #10a4cc;
    --yellow: #e3df59;
    --blue-gradient: linear-gradient(23deg,var(--blue2),var(--green));
    --blue-gradient-inverted: linear-gradient(203deg,var(--blue2),var(--green));
    --main-color: #1de7d9;

    --blue: #007bff;
    --indigo: #6e147d;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

body {
    background: var(--dark3);
    margin: auto;
    overflow: hidden;
}

h4 {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}

span {
    font-size: 14px;
}

/* ---------------------------------------------------------------- */
/* Navbar section */

.mobile-toggle-panel {
    display: block;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1000;
    background-color: var(--dark1);
    padding: 10px 0 10px 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translate(0, -50%);
    transition: all .6s;
}

.mobile-toggle-panel.show {
    transform: translateX(0%);
}

.mobile-toggle-panel.hide {
    transform: translateX(80%);
}

.toggle-arrow {
    width: 20px;
    height: 20px;
    color: var(--grey1);
    margin-right: 10px;
}

.navbar {
    position: relative;
    z-index: 10;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* backdrop-filter: blur(5px); */
    background: none;
    border-bottom: 1px solid var(--border-color);
    border: none;
    box-shadow: 2px 2px 15px var(--shadow);
    margin: 0 auto;
    padding: 8px 20px;
}

.navbar-left {
    display: flex;
}

.navbar-logo {
    display: flex;
    align-items: center;
    /* margin-right: 15px; */
    padding: 5px 20px 5px 10px;
    border-radius: 30px;
    color: var(--grey1);
    background-color: var(--dark2);
}

.navbar-search-icon {
    padding: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: var(--dark3);
}

.toggle-button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
} 

.toggle-button-group>span {
    margin-right: 3px;
    color: var(--grey3);
}

.mobile-navbar .toggle-button-group>span {
    margin-right: 3px;
    color: var(--light);
}

.mobile-navbar {
    position: fixed;
    top: -1px;
    left: -1px;
    height: 100vh;
    z-index: 10;
    margin: 0;
    padding: 0;
    width: 300px;
    transition: all .6s;
}

.mobile-navbar.show {
    transform: translateX(0%);
}

.mobile-navbar.hide {
    transform: translateX(-100%);
}

.mobile-navbar>li {
    padding: 10px;
    text-align: right;
}

.mobile-navbar>li:hover {
    background-color: #6e147d7d;
    cursor: pointer;
}
.mobile-navbar>li a {
    color: var(--lightest);
    border-bottom: 1px soild var(--green);
}

.mobile-navbar>li a:hover {
    color: var(--lightest);
}

.mobile-navbar {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: unset;
    background-color: #09090ba6;
    border-right: 2px solid var(--indigo);
}

.logo-image {
    width: 60px;
}

.logo-text {
    color: var(--grey2);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 2px;
    font-family: sans-serif;
    margin-left: 5px;
}

.navbar-menu {
    display: none;
}

.mobile-view-icons{
    display: block;
    color: var(--grey1);
    width: 40px;
    height: 40px;
}

.menu-link {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    transition: .1s;
    width: auto;
    text-decoration: none;
    padding: 15px;
    font-family: sans-serif;
    color: var(--grey3);
}

.menu-link:hover {
    color: var(--grey1);
}

.menu-btns {
    display: none;
}

.hamburger {
    display: block;
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border-radius: 40%;
    color: var(--grey1);
}

.hamburger:hover {
    background-color: var(--light);
}

.menu-btns>li {
    list-style: none;
}

.button {
    background-color: rgba(71, 58, 111, 1);
    border-radius: 5px;
    padding: 15px 20px;
    margin-right: 10px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none !important;
    transition: all .4s;
    border: none;
}

.button:hover {
    background: #4a0a55;
    color: white;
}

.button.btn-pink {
    background-color: #d20067;
}

.button.btn-pink:hover {
    background-color: #9e024e;
}

.menu-btns>li>a {
    text-decoration: none;
    color: var(--lightest);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.trading-panel {
    margin: 20px;
}
/* 
.trading-panel {
    justify-content: flex-end;
    margin: 20px 0 0;
    width: 100%;
} */


.chart {
    border: 1px solid var(--border-color);
    box-shadow: 2px 2px 15px var(--shadow);
    border-radius: 10px;
    flex-basis: 100%;
    min-height: 400px;
    transition: all .5s;
    margin-bottom: 10px;
}


/* ---------------------------------------------------------------- */
/* Long Short Panel */
.long-short-panel {
    margin-top: 20px;
    /* background-color: white; */
    border: 1px solid var(--border-color);
    box-shadow: 2px 2px 15px var(--shadow);
    padding: 8px 20px;
    border-radius: 10px;
    flex-basis: 100%;
    max-width: 100%;
}

.tab-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.tab-item>li {
    padding: 10px 0;
    width: 49%;
    text-align: center;
    background: var(--grey1);
    color: var(--dark3);
    font-family: sans-serif;
    transition: all .4s;
}

.tab-item>li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tab-item>li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab-item>li.active {
    background-color: var(--indigo);
    color: var(--light);
}

.tab-item>li:hover {
    cursor: pointer;
    background-color: #f18dbf;
}
.tab-panel {
    text-align: center;
}

.tab-panel .slider {
    width: 100%;
    display: block;
    background: transparent;
    overflow: visible;
}

.slider-title {
    font-weight: 100;
    color: var(--grey1);
    font-size: 14px;
    margin: 5px 0;
}

.slider-value {
    display: flex;
    justify-content: space-around;
}

.slider-value {
    color: var(--grey3)
}

.trailing-section {
    background-color: var(--dark2);
    padding: 5px 10px 5px ;
    border-radius: 10px;
    margin-top: 10px;
    color: var(--grey1);
}

.trailing-section.not-grey {
    background-color: #F4F4F4;
}

.badge-items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.badge {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 13px;
    min-width: 70px;
}

.badge.red {
    background-color: var(--red);
    color: white;
}

.badge.grey {
    background-color: #DCDCDC;
    color: black;
}

.badge.green {
    background-color: #AADEAC;
    color: black;
}

.badge-items .active {
    border-bottom: 2px solid var(--green);
}

.reg-circle-icon {
    position: relative;
    top: 2px;
}

.open-price {
    margin-top: 5px;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--dark1);
    align-items: center;
}

.open-price.not-grey {
    background-color: white;
}

.open-price.not-grey .leverage-value {
    background-color: white;
}
.open-price.not-grey .change-value {
    color: #3f3f3f;
}

.leverage-value {
    border: none;
    text-align: center;
    background-color: var(--dark1);
    color: var(--grey1)
}

.leverage-value:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.change-value {
    color: var(--dark3);
}

.change-value:hover {
    color: var(--grey3);
    cursor:pointer;
}

.invoice-list {
    list-style: none;
    padding: 0;
    padding: 5px 15px;
}

.invoice-list>li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.invoice-list>li>span:last-child {
    font-weight: bold;
}

.connect-wallet {
    color: var(--lightest);
    background-color: var(--purple);
}

.connect-wall-button {
    padding-bottom: 25px;
}

/* ------------------------------------------------------ */
/* Crypto Forex Panel */

.crypto-forex-panel {
    left: 50%;
    top: 0;
    position: fixed;
    transform: translate(-50%, 0);
    transition: .6s;
    z-index: 2;
    background-color: var( --transparent);
    border: 1px solid var( --border-color);
    box-shadow: 2px 2px 15px var( --shadow);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .4s;
    z-index: 111;
    width: 100%;
    height: 100%;
}

.real-search-bar {
    position: relative;
    background-color: var(--dark3);
    padding: 10px;
    width: 100%;
}
.search-input {
    border: 1px solid var(--border-color);
    border-radius: 30px;
    max-width: 500px;
    margin-right: 40px;
    background-color: var(--dark1);
}

.search-input>input {
    background-color: var(--dark1);
    color: var(--grey1);
    padding: 5px 10px 5px 35px !important;
}

.x-marks {
    position: absolute;
    right: 20px;
    top: 25px;
    transform: rotate(45deg);
    color: var(--grey1);
}

.x-marks:hover {
    cursor: pointer;
}

.search-result-box {
    padding: 20px;
    max-width: 500px;
    margin: auto;
    background-color: var(--dark3);
    margin-top: 10px;
    border-radius: 5px;
}

.react-tabs__tab {
    color: var(--dark1) !important;
}

.react-tabs__tab--selected {
    background: var(--dark3) !important;
    border: none !important;
    color: var(--grey1) !important;
    border-bottom: 2px solid var(--grey1) !important;
}

.react-tabs__tab:focus:after {
    background: none !important;
}


.crypto-forex-panel.show {
    transform: translateX(0%);
}

.crypto-forex-panel.hide {
    transform: translateX(-100%);
}

.search-bar {
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    color: var(--grey2);
    background-color: var(--dark3);
}

.search-bar:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.loading-style {
    margin: auto;
}

.people-section {
    height: 470px;
    overflow-y: auto;
    overflow-x: hidden;
}

.people-row {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid var(--border-color);
}

.people-row:hover {
    cursor: pointer;
    background-color: var(--dark1);
}
.people-row img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.people-row span {
    color: var(--grey1);
}

.search-result-box .table-header {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 5px 0;
    border-bottom: 1px solid var(--dark1);
}

.search-result-box .table-header span {
    text-align: center;
    color: var(--grey1);
}

.search-result-box .table-row {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 10px 5px;
}

.search-result-box .table-row:hover {
    cursor: pointer;
    background-color: var(--dark1);
}

.search-result-box .table-row span {
    text-align: center;
}

.search-result-box .table-row .pair-color {
    color: var(--grey1);
    font-size: 10px;
    font-size: 13px;
}

.table-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 470px;
}

.crypto-forex-panel .tab-item {
    padding: 0 5px;
}

.card-content {
    overflow: auto;
}

.mobile-crypto-view {
    background-color: #0000009c;
    position: absolute;
    top: 30%;
    left: -1px;
    transform: translate(0, -50%);
    padding: 20px 10px;
    border-radius: 0 30px 30px 0;
    color: white;
    z-index: 2;
}

.mobile-crypto-view:hover {
    cursor: pointer;
}


/*  responsive */

@media only screen and (min-width: 501px) {
    .long-short-panel {
        margin-top: 0;
    }
    
    .search-input {
        margin: auto;
    }

    .chart {
        flex-basis: calc(100%);
    }
    
    .trading-panel {
        display: flex;
        justify-content: space-between;
    }
    /* .crypto-forex-panel {
        transform: translateX(0%) !important;
    } */
    .mobile-crypto-view {
        display: none;
    }

    .navbar {
        padding: 8px 40px;
    }
}

@media only screen and (min-width: 1336px) {
    .mobile-toggle-panel {
        display: none;
    }
    .mobile-view-icons {
        display: none;
    }
    .trading-panel .long-short-panel {
        flex-basis: 25%;
        max-width: 25%;
    }
    .trading-panel .chart {
        flex-basis: calc(75% - 20px);
    }
    .navbar-menu {
        display: block;
    }

    .menu-btns {
        display: flex;
    }
    
    .hamburger {
        display: none;
    }
    .chart {
        margin-bottom: 0;
        min-height: 100%;
    }
    .table-content {
        height: 470px;
    }
}
