.react-tabs__tab-list {
    border-bottom: 0 !important;
}

.react-tabs__tab {
    width: 25%;
    text-align: center;
    font-size: 13px;
}

.react-tabs__tab-panel {
    height: calc(100% - 63px);
}

.mobile-version-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark3);
}

.mobile-section-tab {
    height: calc(100% - 62px);
}

.mobile-tab-body {
    height: 100%;
    overflow-y: auto;
}

.tab-buttons {
    background-color: var(--dark2);
    padding: 0;
    margin: 0;
    margin-top: -2px;
}

.tab-buttons p {
    margin: auto;
    font-size: 13px;
    font-weight: 100;
}

.tab-button-icon {
    width: 30px;
    height: 30px;
}


/* Liquidity section */

.liquidity {
    padding: 20px;
}

.liquidity .category {
    font-size: 18px;
    color: var(--grey1);
    margin: 0;
}

.liquidity .price {
    color: var(--grey1);
    font-size: 30px;
    font-weight: 700;
    font-family: 'system-ui';
    margin: 0;
    margin-bottom: 10px;
}

.liquidity .currency {
    font-size: 25px;
    font-weight: 100;
    color: var(--grey3);
}

.liquidity .rate {
    color: var(--rising-color);
    position: relative;
    top: -25px;
    left: 0;
    font-weight: 100;
    font-family: 'system-ui';
}

.liquidity .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liquidity .right-act span {
    color: var(--grey1);
}

.liquidity .right-act span:last-child {
    margin-left: 5px;
    font-size: 11px;
    color: var(--dark1);
}

.liquidity .left-act div {
    color: var(--cyan);
    font-size: 13px;
    padding: 5px 7px;
    border-radius: 5px;
}

.liquidity .left-act div.active {
    background-color: var(--cyan);
    color: white;
}

.liquidity .table-header {
    display: grid;
    grid-template-columns: 32% 43% 12% 15%!important;
    margin: 0;
    text-align: left;
    width: 100%!important;
    color: var(--dark1);
}

.liquidity .table-row {
    display: grid;
    grid-template-columns: 11% 21% 16% 27% 12% 13%!important;
    margin: 0;
    text-align: left;
    width: 100%!important;
    padding: 10px;
    transition: all .5s;
}

.liquidity .table-row:hover {
    background-color: var(--transparent);
}

.liquidity .table-row div {
    font-size: 13px;
    color: var(--grey3);
}

.liquidity .text-right {
    text-align: right;
}

.liquidity .text-left {
    text-align: left !important;
}

.liquidity .text-center {
    text-align: center !important;
}

.liquidity .text-dark {
    color: var(--dark1) !important;
}

.liquidity .ml-3 {
    margin-left: 3px;
}

.liquidity .plus-color {
    color: var(--rising-color);
    margin-top: 7px;
}

.liquidity .minus-color {
    color: var(--danger);
    margin-top: 7px;
}

.liquidity .icon-size {
    font-size: 24px !important; 
}

.liquidity .table-body {
    position: relative;
    height: calc(100vh - 290px);
    overflow-x: hidden;
    overflow-y: auto;
    will-change: transform;
    direction: ltr;
}

.liquidity .table-header div {
    text-align: right;
}

.liquidity .deposit-row {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 20px;
    background-color: var(--dark2);
}

.liquidity .deposit-row p {
    color: var(--grey1);
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}

.liquidity .btn-deposit {
    padding: 10px;
    background-color: var(--dark1);
    color: var(--grey1);
    border-radius: 10px;
    transition: all .5s;
}

.liquidity .btn-deposit:hover {
    color: var(--grey3);
    background-color: var(--dark3);
}

.liquidity .currency-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
}

.ml-5 {
    margin-left: -10px;
    z-index: 0 !important;
    margin-right: 5px;
}
@media only screen and (min-width: 1336px) {
    body {
        overflow: auto!important;
    }
    .mobile-version-section {
        display: none;
    }
}