.mobile-leaderboard {
    position: relative;
    /* padding: 15px; */
    padding-top: 10px;
}

.mobile-leaderboard .tab-item {
    margin-top: 10px;
    justify-content: center;
}

.mobile-leaderboard .tab-item>li {
    padding: 5px;
    width: 30%;
}

.mobile-leaderboard .top-rated-section {
    position: relative;
}

.mobile-leaderboard .title {
    text-align: center;
    color: var(--grey1);
    font-size: 20px;
    margin: 0;
}

.mobile-leaderboard .end-time {
    text-align: left;
    color: var(--grey3);
    font-size: 13px;
    padding: 10px
}

.mobile-leaderboard .avatar {
    width: 70px;
    border-radius: 50%;
}

.mobile-leaderboard .rated-1 .avatar {
    width: 100px;
}

.mobile-leaderboard .name {
    margin: 0;
    text-align: center;
    color: var(--grey1);
    margin-top: 5px;
}

.mobile-leaderboard .badge {
    margin: 0;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 5px;
    color: var(--light);
    background-color: var(--transparent);
}

.mobile-leaderboard .crawn-img {
    width: 50px;
    display: block;
    margin: auto;
}

.mobile-leaderboard .rated-1 {
    position: absolute;
    top: -15px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.mobile-leaderboard .rated-2 {
    position: absolute;
    top: 50px;
    left: 16%;
    text-align: center;
    transform: translateX(-50%);
}

.mobile-leaderboard .rated-3 {
    position: absolute;
    top: 60px;
    left: 84%;
    text-align: center;
    transform: translateX(-50%);
}

.mobile-leaderboard .your-ranking {
    display: flex;
    justify-content: space-between;
    background-color: var(--transparent);
    margin: 0 20px;
    margin-top: 230px;
    color: var(--grey1);
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.mobile-leaderboard .your-ranking>div>span:first-child {
    background-color: var(--green);
    padding: 10px;
    border-radius: 50%;
    color: var(--light);
    margin-right: 10px;
}

.mobile-leaderboard .rated-list {
    margin-top: 10px;
    width: 100%;
    background-color: var(--transparent);
    border-radius: 30px;
}

.mobile-leaderboard .bs-icon {
    position: relative;
    top: 2px;
    right: 2px;
    color: var(--yellow);
}

.mobile-leaderboard .list-avatar {
    width: 40px;
    border-radius: 50%;
}

.mobile-leaderboard .list-item {
    transition: all .4s;
    padding: 0 10px;
}

.mobile-leaderboard .list-item:hover {
    background-color: var(--transparent)
}

.mobile-leaderboard .list-row {
    display: grid;
    grid-template-columns: 7% 15% 33% 45%;
    margin: 0;
    text-align: left;
    width: 100%!important;
    padding: 10px 5px;
    align-items: center;
}

.mobile-leaderboard .list-row span {
    color: var(--grey1);
}

.mobile-leaderboard .list-header {
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 0;
    text-align: left;
    width: 100%!important;
    padding: 10px 5px;
    transition: all .5s;
    align-items: center;
    font-size: 15px;
    text-align:center;
    color: var(--grey1);
}

.mobile-leaderboard .pnl-color {
    color: var(--rising-color) !important;
}

.mobile-leaderboard .fall-color {
    color: #d34a4a !important;
}

.mobile-leaderboard .detailed-info {
    padding: 10px;
    color: var(--grey1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-leaderboard .detailed-info span {
    font-size: 12px;
}

.mobile-leaderboard .detailed-info-top-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    transform: translate(-26px, 100%);
    font-size: 11px;
    color: var(--main-color);
    background-color: var(--transparent-popup);
    border-radius: 10px;
    min-width: 122px;
}

.mobile-leaderboard .rated-1 .detailed-info-top-3 {
    transform: translate(-12px, 100%);
}

.mobile-leaderboard .detailed-info-top-3 span {
    font-size: 11px;
}