.react-tabs__tab-list {
    border-bottom: 0 !important;
}

.react-tabs__tab {
    width: 25%;
    text-align: center;
    font-size: 13px;
}

.react-tabs__tab-panel {
    height: calc(100% - 63px);
}

.mobile-version-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark3);
    /* display: none; */
}

.mobile-section-tab {
    height: calc(100% - 62px);
}

.mobile-tab-body {
    height: 100%;
    /* height: 30vh; */
    overflow-y: auto;
}

.tab-buttons {
    background-color: var(--dark2);
    padding: 0;
    margin: 0;
    margin-top: -2px;
}

.tab-buttons p {
    margin: auto;
    font-size: 13px;
    font-weight: 100;
}

.tab-button-icon {
    width: 30px;
    height: 30px;
}

@media only screen and (min-width: 1336px) {
    body {
        overflow: auto!important;
    }
    .mobile-version-section {
        display: none;
    }
}